*, /* *Ovlivnuje vsechny CSS elementy, before a after jsou pseudoelementy, ktere lze použit pro upravu jinych elementu napr pozicovani */
::before,
::after {
    box-sizing: border-box; /* Zpusobi, ze border a padding jsou soucasti vysky a sirky */
    column-span: all; /* vytvori block formatting context tzn. vypne margin collapsing */
}

body {
    font-family: "Exo", sans-serif;
    color: hsl(0, 0%, 16%);
    background-color: hsl(0, 0%, 100%);
    margin: 0; /* Stranka ma automaticky okraj, ktereho je nutne ji zbavit */
}

.clearfix::after {
    /*Clearfix slouzi k ukonceni floatu. Je vlozen do pseudoelementu a staci jej prilozit k dane tride. Vsechny floaty pred min, zde musi skoncit. */
    display: block; /* Float je od zakladu block element, ale nektere prohlizece to potrebuji napsat */
    content: ""; /* nulovy obsah pseudoelementu */
    clear: both; /* prikaz clear: both; ukonci vsechny floaty, float: right - left ukonci ty na dane strane*/
}

h1 {
    font-weight: 100;
    font-size: 3.75rem;
    line-height: 1.25;
    letter-spacing: 0.04em;
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
    background-color: hsla(0, 0%, 0%, 0.6);
    padding: 0 0.3em;
}

h2 {
    font-size: 2.5rem;
    font-weight: normal; /* odebrani boldu nadpisu */
    letter-spacing: 0.1em;
    line-height: 1.25;
}

h3 {
    font-size: 1.375rem;
    line-height: 1.5;
}

p {
    font-size: 1rem;
    line-height: 1.625;
    color: hsla(0, 0%, 16%, 0.66);
    margin-bottom: 1rem; /* odrazeni mezi odstavcu v textu */
    margin-top: 0;
}

@media (min-width: 600px) {
    p {
        margin-bottom: 2rem;
    }
}

.contacts {
    color: hsl(0, 100%, 71%);
}

.contacts,
.label {
    font-size: 1.375rem;
}

.description {
    text-transform: uppercase; /* text ve verzalkach */
}

.wrapper {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto; /* Nastaveni maximalni sirky, po jejim prekroceni se zacnou objevovat stejne okraje po bocich */
}

.intro {
    background-color: hsl(22, 33%, 44%);
    min-height: 80vh; /* Nastaveni minimalni vysky na 80 viewport-height => 80% zobrazujiciho okna */
    position: relative; /* Prvek je vytazen z toku dokumentu, lze jej posunout, zaklada novy blok i souradny system */
    background-image: url(images/goat-canyon-trestle-bridge.jpg);
    background-position: center; /* vystredení obrazku */
    background-repeat: no-repeat; /* zruseni opakovani obrazku, ktere je standart */
    background-size: cover; /* zmena velikosti, aby pokryval cely prvek => dochazi k deformaci */
}

.intro-text {
    color: hsl(0, 0%, 100%);
    width: 100%; /* Nastaveni sirky na cely radek, nebot absolute jej vyjme z dokumentu */
    text-align: center; /* Vycentrovani textu na stred */
    position: absolute; /* Vyjme prvek z dokumentu, takze neovlivnuje zbytek dokumentu a lze jej umistit souradnicemi od zacatku omezujiciho bloku */
    top: 50%; /* Nastaveni vysky umisteni horního okraje elementu. */
    transform: translateY(-50%); /* Pohne elementem ze soucasne pozice vertikalne o - 50% jeho vysky. */
}

@media (min-width: 900px) {
    /* zajisti, ze se padding bude uplatňovat až od šíře 900 px */
    .intro-text {
        padding: 0 10%; /* Posunuti od kraje o 10% vzdalenosti*/
    }
}

.intro-text p {
    display: inline-block;
    color: hsl(0, 0%, 100%);
    background-color: hsla(0, 0%, 0%, 0.6);
    padding: 0 0.3em;
    margin-top: 1rem;
}

.about-me {
    position: relative; /* vytvoření nového souřadného systému pro pozicovani potomku */
    background-color: hsl(0, 13%, 84%);
}

@media (min-width: 900px) {
    .about-me::after {
        content: ""; /* pouziti pseudoelementu (je soucasti rodice) - je nutne dat content, byt prazdny, posleze bude vlozen gradient */
        display: block; /* zobrazení v blocku */
        width: 40%; /* sirka 40 %, nebot sirka leve bile casti je 60 %. */
        padding-bottom: 40%; /* padding je soucasti vysky elementu 40 % je stejnych jako 40 % sirky, aby se jednalo o ctverec - pred paddingem ma nulovou vysku */
        background-image: linear-gradient(135deg, transparent 50%, hsl(0, 100%, 71%) 50%); /* vytvoreni gradientu, kdyz je prechod stejny, jedna se o velmi ostry prechod napr na strance https://cssgradient.io/ */
        position: absolute; /* je nutne jej absolutne napozicovat a orientovat podle rodice */
        bottom: 0;
        right: 0; /* umisteni dolu a doprava */
    }
}

.about-me-text {
    background-color: hsl(0, 0%, 100%);
    padding: 1rem; /* padding je odstupnovany podle sirky na webu => cim vice prostoru tim vetsi padding */
}

@media (min-width: 600px) {
    .about-me-text {
        padding: 2rem;
    }
}

@media (min-width: 900px) {
    .about-me-text {
        background-color: hsl(0, 0%, 100%);
        width: 60%;
        padding: 10rem 10%; /* padding horni + dolni - levy + pravy */
    }
}

.skills {
    background-color: hsl(40, 14%, 96%);
    padding: 1rem 1rem 0;
}

@media (min-width: 600px) {
    .skills {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (min-width: 900px) {
    .skills {
        padding-left: 10%;
        padding-right: 10%;
    }
}

.skills-heading {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

@media (min-width: 600px) {
    .skills-heading {
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
}

@media (min-width: 900px) {
    .skills-heading {
        margin-top: 5.5rem;
        margin-bottom: 5.5rem;
    }
}

.skill-box {
    margin-bottom: 1em;
}

@media (min-width: 600px) {
    .skill-box {
        margin-bottom: 0;
        width: 50%;
        float: left; /* float zpusobi vytrzeni objektu z toku dokumentu a text kolem nich zacne obtekat. */
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: center;
    }
}

@media (min-width: 740px) {
    .skill-box {
        width: 33.333%;
    }
}

.skill-box-javascript {
    float: none;
    margin: 0 auto;
}

.gap-skillbar {
    width: 100%;
}

@media (min-width: 740px) {
    .gap-skillbar {
        width: 100%;
        display: none;
    }
}

.skill-box-heading {
    margin: 0 0 1rem 0;
    font-weight: normal;
    padding-top: 1.2rem;
    padding-right: 4rem;
    line-height: 1.5;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 3rem;
}

@media (min-width: 600px) {
    .skill-box-heading {
        background-position: center top;
        padding-top: 3.7rem;
        text-align: center;
        padding-right: 0;
    }
}

.heading-html {
    background-image: url(images/html5-logo.svg);
}

.heading-css {
    background-image: url(images/css-logo.svg);
}

.heading-javascript {
    background-image: url(images/js-logo.svg);
}

.photo-languages {
    padding: 0 2rem;
    background-color: hsla(0, 0%, 100%);
}

@media (min-width: 600px) {
    .photo-languages {
        background-image: linear-gradient(45deg, hsl(0, 100%, 71%), 240px, transparent 240px);
        background-repeat: no-repeat;
    }
}

@media (min-width: 800px) {
    .photo-languages {
        background-image: linear-gradient(45deg, hsl(0, 100%, 71%), 330px, transparent 330px);
        background-repeat: no-repeat;
    }
}

@media (min-width: 1100px) {
    .photo-languages {
        padding: 0 10%;
        background-image: linear-gradient(45deg, hsl(0, 100%, 71%), 420px, transparent 420px);
        background-repeat: no-repeat;
    }
}

.photo-language-text {
    padding: 0 1rem;
}

@media (min-width: 600px) {
    .language-text {
        padding: 0 0 0 2rem;
        float: left;
        width: 55%;
    }
}

@media (min-width: 900px) {
    .language-text {
        padding: 10% 0 10% 4rem;
    }
}

@media (min-width: 1280px) {
    .language-text {
        margin-left: 15%;
    }
}

.picture {
    margin: 0 auto;
    max-width: 30%;
}

@media (min-width: 600px) {
    .picture {
        margin: 2rem auto;
        float: left;
        max-width: 45%;
    }
}

@media (min-width: 900px) {
    .picture {
        margin: 4rem auto;
    }
}
.picture-image {
    max-width: 100%;
    height: auto;
    max-height: 415px;
}

.projects {
    background-image: url(images/triangles-reduced.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: hsl(231, 10%, 14%);
    padding-bottom: 2rem;
}

.projects-heading {
    text-align: center;
    color: hsl(0, 0%, 100%);
}

.projects-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: hsl(0, 0%, 100%);
    text-align: center;
}

.projects-box p {
    color: hsl(0, 100%, 71%);
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.projects-box a {
    color: hsl(0, 0%, 100%);
    font-style: italic;
}

.projects-icons { /* Zpusob jak udelat obrazek responzivni. Velikost je vetsi, ale jeho velikost se nastavi mensi v css pixelech. Nasledne je pri zobrazeni posouzeno, zda neni mozne lepe vykreslit obrazek a pouzit jeho lepsi verzi. */
    width: 5rem;
    height: auto;  
}

.projects-box h3 {
    margin: 1.5rem 0 0 0;
}

.projects-project {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 25%;
    margin: 0 2rem 2rem;
    max-width: 20rem;
    min-width: 13rem;
}

