body {
    font-family: "Exo", sans-serif;
    color: hsl(0, 0%, 16%);
    background-color: #fff;
    margin: 0;
}

h1 {
    font-weight: 100;
    font-size: 3.75rem;
    line-height: 1.25;
    letter-spacing: 0.04em;
}

h2 {
    font-size: 2.5rem;
    letter-spacing: 0.1em;
    line-height: 1.25;
}

h3 {
    font-size: 1.375rem;
    line-height: 0.45;
}

p {
    font-size: 1rem;
    line-height: 0.62;
    color: hsla(0, 0%, 16%, 0.66);
}

.contacts,
.label {
    font-size: 1.375rem;
}

.description {
    text-transform: uppercase;
}

.wrapper {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    }