body {
    font-family: 'Exo', sans-serif;
    color: hsl(0, 0%, 16%);
    background-color: #fff;
}

h1 {
    font-weight: 100;
    font-size: 3.75rem;
    line-height: 1.25; 
    letter-spacing: 0.04em;
}

h2 {
    font-size: 40px;
    letter-spacing: 1.6px;
    line-height: 1.25;
}

h3 {
    font-size: 22px;
    line-height: 0.45;

}

p {
    font-size: 16px;
    line-height: 0.62;
    color: hsla(0, 0%, 16%, 0.66);
}

.contacts,
.label {
    font-size: 18px;
}

.description {
    text-transform: uppercase;
}